.heroimage {
  opacity:0;
  animation-name: popup;
  animation-duration: 0.7s;
  animation-delay: 0.1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}


@keyframes popup {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.popup {
  animation: popup 0.3s ease-out forwards;
}
