@import "tailwindcss";

html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  background-image: url("bgimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}