@import "tailwindcss";

html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: darkslategray;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

input::placeholder {
  font-size: 12px;
}