@import "tailwindcss";

html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('bgimg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(45, 67, 67);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

input::placeholder {
  font-size: 12px;
}